html,
body,
.fullpage {
    width: 100%;
    height: 100%;
}

#header-nav {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.swiper-container {
    width: 100%;
    /*height:1000px;*/
}

.slide_1 {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.slide_2 {
    background-color: #F3F6F8;
    width: 100%;
    height: 100%;
}

.slide_3 {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.slide_4 {
    background: url(../images/组10@2x.png) left top;
    background-size: cover;
    /* width: 100%;
    height: 100%;
    padding-bottom: 100px;*/
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    padding-top: 20px;
    width: 80%;
    height: 60px;
    /* background-color: gray; */
    margin: auto;
}

#logo {
    width: 157px;
    height: 38px;
    background: url(../images/logo_nasnanoblack@2x.png)center no-repeat;
    background-size: 157px 37px;
    display: inline-block;
}

.language {
    float: right;
    font-size: 16px;
    line-height: 50px;
}

.slide_1 .banner {
    /*width: 90%;
    height: 880px;
    margin-left: 10%;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;*/
    width: 90%;
    height: 840px;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 10%;
}

.slide_1 .banner .left {
    width: 50%;
    float: left;
}

.slide_1 .banner .left .tittle {
    margin-top: 150px;
    width: 540px;
    height: 140px;
}

.slide_1 .banner .left .tittle img {
    width: 100%;
    /* width:399px; */
}

#nano_description {
    /* font-family: PingFangSC-Thin;
    font-size: 18px;
    margin-top: 59px;*/
    width: 540px;
    color: #202020a0;
}

#nano_swap_tip {
    color: #202020;
    font-weight: thin;
}

#nano_swap_tip a {
    color: #038AFB;
}

.slide_1 .banner .left .btn_download {
    width: 540px;
    height: 100px;
    margin-top: 98px;
}

.slide_1 .banner .left .btn_download i {
    position: relative;
    left: -20px;
    visibility: hidden;
}

#ios {
    display: inline-block;
    width: 254px;
    height: 50px;
    background: url(../images/矩形1@2x.png)center no-repeat;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

#android {
    display: inline-block;
    width: 254px;
    height: 50px;
    background: url(../images/矩形拷贝@2x.png) center no-repeat;
    line-height: 50px;
    text-align: center;
}

#android a {
    color: #00D39F;
    text-decoration: none;
    display: block;
    width: 254px;
    height: 50px;
}

.slide_1 .banner .right {
    width: 50%;
    height: 512px;
    height: inherit;
    float: left;
    overflow: hidden;
    background: url(../images/组9@2x.png) no-repeat;
    background-size: 695px 851px;
}

.slide_1 .banner .right .iphone {
    width: 260px;
    height: 500px;
    /* margin-top: 110px; */
    position: relative;
    top: 38%;
    margin-top: -230px;
}

.slide_1 .banner .right .iphone img {
    /*width: 100%;
    height: 100%;*/
    /* width:172px;
    height:347px;*/
    width: 272px;
    height: 547px;
}

.slide_2 .banner {
    /* width: 90%;
    height: 755px;
    margin: 100px auto;
    position: relative;*/
    width: 90%;
    height: 700px;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slide_2 .banner img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide_2 .banner .left {
    width: 50%;
    height: 700px;
    position: absolute;
    top: -9%;
}

.slide_2 .banner .left .gif1 {
    width: 360px;
    height: 360px;
    margin-left: 9%;
    margin-top: 89px;
}

.slide_2 .banner .left .tittle {
    margin: auto;
    width: 369px;
    height: 38px;
    font-size: 48px;
    font-family: SFProText-HeavyItalic;
    color: rgba(255, 255, 255, 1);
    line-height: 0px;
    font-weight: Heavy Italic;
    margin-top: 56px;
    margin-left: 154px;
    font-weight: 500;
}

.slide_2 .banner .left .intrudaction {
    width: 308px;
    height: 46px;
    font-size: 20px;
    font-family: PingFangSC-Thin;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    font-weight: Thin;
    margin-left: 154px;
}

.slide_2 .banner .left .gif1 img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_2 .banner .right {
    width: 50%;
    height: 700px;
    position: absolute;
    left: 50%;
    top: -5%;
}

.slide_2 .banner .right .gif1 {
    width: 360px;
    height: 360px;
    margin-left: 2%;
    margin-top: 69px;
}

.slide_2 .banner .right .tittle {
    width: 369px;
    height: 38px;
    font-size: 48px;
    font-family: SFProText-HeavyItalic;
    color: rgba(255, 255, 255, 1);
    line-height: 0px;
    font-weight: Heavy Italic;
    margin-top: 48px;
    margin-left: 84px;
    font-weight: 500;
}

.slide_2 .banner .right .intrudaction {
    width: 308px;
    height: 46px;
    font-size: 20px;
    font-family: PingFangSC-Thin;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    margin-left: 84px
}

.slide_2 .banner .right .gif1 img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_3 .banner {
    /*width: 90%;
    height: 755px;
    margin: 100px auto;
    position: relative;*/
    width: 90%;
    height: 700px;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slide_3 .banner img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide_3 .banner .left {
    width: 50%;
    height: 700px;
    position: absolute;
    top: -7%;
}

.slide_3 .banner .left .gif1 {
    width: 300px;
    height: 300px;
    margin-left: 13%;
    margin-top: 106px;
}

.slide_3 .banner .left .tittle {
    margin: auto;
    width: 436px;
    height: 38px;
    font-size: 48px;
    font-family: SFProText-HeavyItalic;
    color: rgba(255, 255, 255, 1);
    line-height: 0px;
    font-weight: Heavy Italic;
    margin-top: 74px;
    margin-left: 154px;
    font-weight: 500;
}

.slide_3 .banner .left .intrudaction {
    width: 308px;
    height: 46px;
    font-size: 20px;
    font-family: PingFangSC-Thin;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    font-weight: Thin;
    margin-left: 154px;
}

.slide_3 .banner .left .gif1 img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_3 .banner .right {
    width: 50%;
    height: 700px;
    position: absolute;
    left: 50%;
    top: -5%;
}

.slide_3 .banner .right .gif1 {
    width: 320px;
    height: 320px;
    margin-left: 2%;
    margin-top: 84px;
}

.slide_3 .banner .right .tittle {
    width: 369px;
    height: 38px;
    font-size: 48px;
    font-family: SFProText-HeavyItalic;
    color: rgba(255, 255, 255, 1);
    line-height: 0px;
    font-weight: Heavy Italic;
    margin-top: 63px;
    margin-left: 84px;
    font-weight: 500;
}

.slide_3 .banner .right .intrudaction {
    width: 308px;
    height: 46px;
    font-size: 20px;
    font-family: PingFangSC-Thin;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    margin-left: 84px
}

.slide_3 .banner .right .gif1 img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide_4 .download {
    width: 460px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    margin-top: 200px;
    text-align: center
}

.slide_4 .download a {
    color: #fff;
    margin: 40px;
    text-decoration: none;
}

.slide_4 .email {
    width: 560px;
    /* height: 45px; */
    /* background:rgba(255,255,255,1); */
    border-radius: 4px;
    margin: 100px auto 0px;
}

.slide_4 .email input {
    width: 420px;
    height: 41px;
    line-height: 39px;
    text-align: center;
    font-size: 12px;
    font-family: PingFangSC-Light;
    color: rgba(208, 208, 208, 1);
    background: #fff;
    border-radius: 4px 0 0 4px;
    border: none;
}

#submit {
    width: 138px;
    height: 41px;
    background: rgba(255, 156, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 0 4px 4px 0;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    position: absolute;
    font-size: 12px;
}

.slide_4 .icon {
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 120px;
}

.slide_4 .icon ul>li {
    float: left;
    list-style: none;
    margin: 50px;
}

.footer_words {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.footer_words a {
    font-size: 12px;
    font-family: PingFangSC-Light;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
    text-decoration: none;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix {
    zoom: 1;
}

@media screen and (max-height:650px) {
    .slide_2 .banner,
    .slide_3 .banner,
    .slide_4 .banner {
        zoom: .8;
    }
}

#copyright {
    margin-top: -80px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 16px;
    color: #202020;
    font-weight: lighter;
    border-style: solid;
    border-width: 0.5px;
    border-color: #F8D2CA;
}

#copyright p {
    margin-top: 28px;
}

#footer_swap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0px -20px 100px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#swap_title {
    color: #202020;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    margin-top: 25px;
    margin-left: 12.5%;
    width: 50%;
}

#swap_time {
    color: #202020a0;
    font-size: 16px;
    font-weight: lighter;
    margin-top: -10px;
    margin-left: 12.5%;
    width: 50%;
}

#buttons {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#buttons .btn {
    margin-top: 25px;
    padding: 0px 30px;
}

#buttons .btn-link {
    float: right;
    /* display: inline-block; */
    margin-right: 12.5%;
    height: 50px;
}

#buttons .btn-primary {
    float: right;
    margin-right: 20px;
    height: 50px;
}

/**/